<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Art - Навигация</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<header>
    <a th:href="@{/}">
        <img src="/images/logo.png" alt="CASA ART Logo">
    </a>
</header>
<div class="navbar" sec:authorize="isAuthenticated()" th:fragment="navigation">
    <div class="welcome">Здравей, <span th:text="${@userHelperService.getUser().getUsername()}"></span>!</div>
    <nav class="nav-links">
        <a th:href="@{/dashboard}">Табло</a>
        <a th:href="@{/clients}">Клиенти</a>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-button">Изход</button>
        </form>
    </nav>
</div>