/* Общи стилове */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Основни секции */
header, main, footer {
    text-align: center;
    width: 100%;
}

/* Хедър */
header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}

header img {
    height: 120px;
}

/* Основна част */
main {
    flex: 1;
    padding: 50px 20px;
}

/* Навигационно меню */
 .navbar {
     background-color: #FF671F;
     padding: 8px 16px; /* по-тънка лента */
 }

 /* Горно ниво: поздрав и hamburger */
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Поздравителен текст */
.welcome {
    font-size: 18px;
    color: white;
}

/* Hamburger бутон */
.hamburger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Линковете */
.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.nav-links a, .logout-button {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links a:hover, .logout-button:hover {
    color: #F0E61F;
}

/* Заглавия */
h1 {
    margin-bottom: 30px; /* Долно външно отстояние */
    color: #391e13; /* Тъмнокафяв цвят */
}

/* Ред и за търсене */
.search-container {
    text-align: right;
    margin: 10px 20px;
}

/* Форма за вход на потребител, тип и категория */
.input-form {
    display: inline-block; /* Вградено блоково display */
    width: 20%; /* Фиксирана широчина */
    margin: 0 auto; /* Центриране хоризонтално */
    background-color: #fff; /* Бял фон */
    padding: 20px; /* Вътрешно отстояние */
    border-radius: 8px; /* Заоблени ъгли */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка */
}

/* Групи във формата */
.form-field {
    margin-bottom: 20px; /* Долно външно отстояние между групите */
}

/* Етикети във формата */
.form-field label {
    display: block; /* Блоково показване */
    font-size: 18px; /* Размер на шрифта */
    margin-bottom: 8px; /* Долно външно отстояние */
    color: #391e13; /* Тъмнокафяв цвят */
}

/* Входни полета */
.form-field input {
    width: 100%; /* Пълна широчина */
    padding: 10px; /* Вътрешно отстояние */
    font-size: 14px; /* Размер на шрифта */
    border: 1px solid #ddd; /* Светлосива рамка */
    border-radius: 5px; /* Заоблени ъгли */
    outline: none; /* Премахване на default outline */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Плавни преходи */
}

/* Фокус върху входни полета */
.form-field input:focus {
    border-color: #009CDE; /* Син цвят на рамката */
    box-shadow: 0 0 5px rgba(23, 167, 224, 0.5); /* Лека светеща сянка */
}

/* Форма за добавяне */
.add-form {
    display: inline-block; /* Вградено блоково показване */
    width: 25%; /* Широчина на формата */
    margin: 0 auto; /* Центриране хоризонтално */
    background-color: #fff; /* Бял фон */
    padding: 20px; /* Вътрешно отстояние */
    border-radius: 8px; /* Заоблени ъгли */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка за дълбочина */
    margin-bottom: 20px; /* Може да се увеличи при нужда */
}

/* Форма за детайли */
.details-form {
    display: inline-block; /* Вградено блоково показване */
    width: 30%; /* По-широка форма за повече детайли */
    margin: 0 auto; /* Центриране хоризонтално */
    background-color: #fff; /* Бял фон */
    padding: 20px; /* Вътрешно отстояние */
    border-radius: 8px; /* Заоблени ъгли */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка за визуална дълбочина */
}

/* Таблица - основни стилове */
table {
      display: inline-block;
        width: auto;
        border-spacing: 0; /* Няма разстояние между клетките */
        border-radius: 5px; /* Заоблени ъгли */
        overflow: hidden; /* За да се отрази ефектът */
        margin-bottom: 20px;
}

/* Клетки в таблицата */
table th, table td {
    border: 1px solid #ddd; /* Светлосива рамка */
    padding: 10px; /* Вътрешно отстояние */
    text-align: center; /* Центриране на текста */
    color: #391e13; /* Тъмнокафяв цвят на текста */
}

/* Заглавия на таблицата */
table th {
    background-color: #009CDE; /* Син фон */
    color: white; /* Бял текст */
    font-size: 14px; /* Размер на шрифта */
}

/* Алтернативни редове с различен фон */
table tr:nth-child(even) {
    background-color: #f2f2f2; /* Светлосив фон за четни редове */
}

/* Ефект при hover върху редове */
table tr:hover {
    background-color: #f1f1f1; /* Леко по-тъмен сив при hover */
}

/* Центриране на съдържанието в таблица */
table td {
    font-size: 14px; /* По-малък размер на шрифта */
    vertical-align: middle; /* Вертикално центриране */
    text-align: center; /* Хоризонтално центриране */
    padding: 10px; /* Вътрешно отстояние */
    height: 100%; /* Заема пълната височина */
}

/* Списъци без маркери */
ul {
    list-style-type: none; /* Премахване на точки/маркери */
    margin: 0; /* Премахване на външно отстояние */
    padding: 0; /* Премахване на вътрешно отстояние */
}

/* Поле на падащите менюта */
.source-type-select {
    width: 250px; /* Ширина на полето */
    padding: 3px; /* Вътрешен отстъп за по-добър изглед */
    font-size: 16px; /* Размер на шрифта */
    border: 1px solid #ccc; /* Сива рамка */
    border-radius: 5px; /* Закръгляне на ъглите */
    outline: none; /* Премахване на синия контур при фокус */
    transition: all 0.3s ease-in-out; /* Плавна анимация при фокус */
}

.source-type-select:focus {
    border-color: #007bff; /* Промяна на цвета при фокус */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Лек блясък при фокус */
}


/* Бутони - общи стилове */
.buttons {
    margin-top: 20px; /* Горно отстояние */
    margin-bottom: 20px; /* Долно отстояние */
}

.buttons a {
    display: inline-block; /* Позволява задаване на padding и height */
    text-decoration: none; /* Премахва подчертаване */
    font-size: 15px; /* Размер на шрифта */
    margin: 0 10px; /* Хоризонтално отстояние между бутоните */
    padding: 8px 18px; /* Вътрешно отстояние */
    border-radius: 5px; /* Заоблени ъгли */
    color: white; /* Бял цвят на текста */
    transition: background-color 0.3s ease; /* Плавна смяна на фона при hover */
}

/* Зелен бутон за въвеждане */
.input-button {
    background-color: #279C38; /* Зелен фон */
    color: white; /* Бял текст */
    padding: 8px 18px; /* Вътрешно отстояние */
    font-size: 15px; /* Размер на шрифта */
    border-radius: 5px; /* Заоблени ъгли */
    border: none; /* Без рамка */
    cursor: pointer; /* Курсорът става ръка при hover */
    transition: background-color 0.3s ease; /* Плавна смяна на фона */
}

.input-button:hover {
    background-color: #1e8d3e; /* По-тъмен зелен при hover */
}

/* Бутон за вход */
.login-button {
    background-color: #009CDE; /* Син фон */
    color: white; /* Бял текст */
    padding: 8px 18px; /* Вътрешно отстояние */
    font-size: 15px; /* Размер на шрифта */
    border-radius: 5px; /* Заоблени ъгли */
    border: none; /* Без рамка */
    cursor: pointer; /* Курсорът става ръка при hover */
    transition: background-color 0.3s ease; /* Плавна смяна на фона */
}

.login-button:hover {
    background-color: #148bbf; /* По-тъмен син при hover */
    text-decoration: none; /* Премахва подчертаването при hover */
}

/* Бутоните за промяна и премахване */
.action-button {
    display: flex; /* Използва flexbox */
    justify-content: center; /* Центрира хоризонтално */
    align-items: center; /* Центрира вертикално */
    gap: 10px; /* Разстояние между елементите */
    height: 100%; /* Заема пълната височина */
}

/* Бутон за сортиране */
.sort-button {
    background-color: #5c3725; /* Кафяв фон */
    color: white; /* Бял текст */
    font-size: 16px; /* Размер на шрифта */
    border: none; /* Без рамка */
    border-radius: 5px; /* Заоблени ъгли */
    padding: 3px 10px; /* Вътрешно отстояние */
    cursor: pointer; /* Курсорът става ръка */
}

.sort-button:hover, .reg-button:hover {
    background-color: #0f0805; /* По-тъмен при hover */
}

/* Регистрационен бутон */
.reg-button {
    background-color: #5c3725; /* Кафяв фон, съответстващ на основната цветова схема */
    color: white; /* Бял цвят на текста за максимална четливост */
    font-size: 11px; /* По-малък размер на шрифта за по-деликатен вид */
    border: none; /* Премахване на Border за по-модерен вид */
    border-radius: 5px; /* Леко заоблени ъгли за по-меко визуално възприемане */
    padding: 2px 10px; /* Минимално вътрешно отстояние */
    cursor: pointer; /* Индикация, че бутонът е интерактивен */
}

/* Бутони за редактиране и изтриване */
.edit-button, .delete-button {
    display: inline-block; /* Позволява задаване на padding и inline подреждане */
    margin: 0; /* Премахване на външно отстояние */
    padding: 2px 8px; /* Минимално вътрешно отстояние */
    font-size: 13px; /* Среден размер на шрифта */
    border-radius: 5px; /* Заоблени ъгли */
    text-decoration: none; /* Премахване на подчертаване */
    border: none; /* Без рамка */
    cursor: pointer; /* Индикация за интерактивност */
    transition: background-color 0.3s ease; /* Плавна промяна на фона */
}

/* Бутон за редактиране - оранжев */
.edit-button {
    background-color: #FF671F; /* Оранжев цвят за визуално отличаване */
    color: white; /* Бял текст за контраст */
}

.edit-button:hover {
    background-color: #d9601f; /* По-тъмен оттенък при hover */
    color: white; /* Запазване на бял текст */
}

/* Бутон за изтриване - червен */
.delete-button {
    background-color: #fc0707; /* Червен цвят за действия, свързани с изтриване */
    color: white; /* Бял текст за максимална четливост */
}

.delete-button:hover {
    background-color: #d90429; /* По-тъмен нюанс на червеното при hover */
    color: white; /* Запазване на бял текст */
}

/* Бутон за преглед */
.view-button {
    background-color: #F0E61F; /* Жълт цвят за визуално отличаване */
    color: #5c3725; /* Кафяв текст за контраст с жълтия фон */
    font-size: 11px; /* Малък размер на шрифта */
    border: none; /* Премахване на Border */
    border-radius: 5px; /* Заоблени ъгли */
    padding: 2px 10px; /* Вътрешно отстояние */
    cursor: pointer; /* Индикация за интерактивност */
}

.view-button:hover {
    background-color: #cfc61d; /* Леко по-тъмен нюанс при hover */
    text-decoration: none; /* Премахва подчертаването при hover */
    color: #5c3725; /* Запазване на кафявия цвят на текста */
}

/* Група за продажби */
.sale-form-field {
    display: flex; /* Флексбокс подреждане */
    align-items: center; /* Центриране на елементите вертикално */
    gap: 10px; /* Разстояние между елементите */
}

.sale-form-field input {
    flex: 1; /* Заема останалото пространство */
    margin-right: 0; /* Премахване на дясно външно отстояние */
}

/* Бутон за добавяне */
.form-field .add-button {
    background-color: #279C38; /* Зелен цвят */
    color: white; /* Бял текст */
    padding: 12px 20px; /* По-голямо вътрешно отстояние */
    border: none; /* Без рамка */
    border-radius: 5px; /* Заоблени ъгли */
    cursor: pointer; /* Индикация за интерактивност */
    transition: background-color 0.3s ease; /* Плавна промяна на фона */
}

.form-field .add-button:hover {
    background-color: #1e8d3e; /* По-тъмен зелен при hover */
}

/* Бутон за продажба */
.sell-button {
    background-color: #009CDE; /* Син цвят */
    color: white; /* Бял текст */
    padding: 12px 20px; /* Голямо вътрешно отстояние */
    border: none; /* Без рамка */
    border-radius: 5px; /* Заоблени ъгли */
    cursor: pointer; /* Индикация за интерактивност */
    transition: background-color 0.3s ease; /* Плавна промяна на фона */
}

.sell-button:hover {
    background-color: #148bbf; /* По-тъмен син при hover */
}

/* Елемент за сериен номер */
.serial-item {
    display: flex; /* Флексбокс подреждане */
    align-items: center; /* Центриране на елементите вертикално */
    justify-content: center; /* Центриране на елементите хоризонтално */
    gap: 10px; /* Разстояние между елементите */
    margin-bottom: 10px; /* Долно външно отстояние */
}

.serial-item span {
    font-size: 16px; /* Размер на шрифта */
    color: #391e13; /* Тъмнокафяв цвят на текста */
}

/* Бутон за премахване */
.remove-button {
    background-color: #fc0707; /* Червен цвят */
    color: white; /* Бял текст */
    padding: 5px 10px; /* Вътрешно отстояние */
    border: none; /* Без рамка */
    border-radius: 5px; /* Заоблени ъгли */
    cursor: pointer; /* Индикация за интерактивност */
    transition: background-color 0.3s ease; /* Плавна промяна на фона */
}

.remove-button:hover {
    background-color: #d90429; /* По-тъмен червен при hover */
}

/* Брояч - стил за допълнителна информация */
.count {
    font-size: 0.8em; /* По-малък размер на шрифта */
    color: gray; /* Сив цвят */
    margin-left: 5px; /* Ляво отстояние */
}

/* Описателен текст */
.description {
    font-size: 18px; /* Размер на шрифта */
    margin-bottom: 30px; /* Долно отстояние */
    color: #391e13; /* Тъмнокафяв цвят на текста */
}

/* Съобщение за грешка*/
.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    display: block;
}

/* Изображения в таблица */
.product-image {
    max-width: 150px; /* Максимална широчина */
    max-height: 150px; /* Максимална височина */
    object-fit: cover; /* Покрива областта без изкривяване */
    border-radius: 8px; /* Заоблени ъгли */
    margin: 0 auto; /* Центриране */
}

/* Футър */
footer {
    margin-top: auto; /* Автоматично отместване към долната част */
    padding: 20px 0; /* Вертикално вътрешно отстояние */
    width: 100%; /* Пълна широчина */
}

/* responsive */
@media screen and (max-width: 480px) {
    body, html {
        overflow-x: hidden;
    }

    body {
        padding: 10px;
        font-size: 14px;
    }

    main {
        padding: 10px;
      /*overflow-x: hidden; Залепва нав-бара и футъра */
    }

    h1 {
      font-size: 20px;
    }

    /* Форма за вход на потребител, тип и категория */
    .input-form, .add-form, .details-form, .form-field {
       width: 100%; /* Фиксирана широчина */
    }

    /* Минимизиране на таблицата */
    .table-wrapper {
        overflow-x: auto;  /* Добавя хоризонтален скрол при нужда */
        width: 100%;
        max-width: 100%;
    }

    table {
        transform: none; /* Премахва изкуственото мащабиране */
        transform-origin: top left;
        width: max-content; /* Таблицата си остава с реалния си размер */
    }

    /* Поле за търсене */
    .search-container {
        text-align: center;
        margin: 10px 0;
    }

    .search-container form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        width: 100%;
    }

    .search-container input[type="text"] {
        width: 100%;
        max-width: 300px;
        padding: 8px;
        font-size: 14px;
    }

    .search-container button {
        width: 100%;
        max-width: 75px;
        padding: 5px;
        font-size: 12px;
    }

    .sort-button, .buttons a {
        font-size: 12px;
    }

    /* навигация */
    .nav-top {
            flex-direction: row-reverse; /* ☰ вляво, поздрав вдясно */
        }

        .nav-links {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 8px;
        }

        .nav-links.active {
            display: flex;
        }

        .nav-links a, .logout-button {
            margin: 8px 0;
            width: 100%;
            padding: 8px;
            text-align: left;
        }

        .hamburger {
            display: block;
        }

        .navbar {
            padding: 6px 12px; /* още по-тънка лента при мобилна */
        }

        .welcome {
            font-size: 16px;
        }
}


