<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Нов клиент</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>

    <div class="container-form">
        <h1>Нов клиент</h1>
        <div class="add-form">
            <form th:action="@{/add-client}"
                  th:object="${addClientDTO}"
                  th:method="POST">
                <div class="form-field">
                    <label for="firstName">Име</label>
                    <input type="text"
                           id="firstName"
                           name="firstName"
                           th:field="*{firstName}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Името трябва да се състои от 2 до 15 букви.
                    </p>
                </div>
                <div class="form-field">
                    <label for="middleName">Презиме</label>
                    <input type="text"
                           id="middleName"
                           name="middleName"
                           th:field="*{middleName}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Презимето трябва да съдържа до 15 букви.
                    </p>
                </div>
                <div class="form-field">
                    <label for="lastName">Фамилия</label>
                    <input type="text"
                           id="lastName"
                           name="lastName"
                           th:field="*{lastName}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Фамилята трябва да се състои от 2 до 15 букви.
                    </p>
                </div>
                <div class="form-field">
                    <label for="email">Емейл</label>
                    <input type="email"
                           id="email"
                           name="email"
                           th:field="*{email}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Няма попълнен имейл.
                    </p>
                    <p class="errors alert alert-danger" th:if="${isExistEmail}">
                        Съществува клиент с този имейл.
                    </p>
                </div>
                <div class="form-field">
                    <label for="phoneNumber">Мобилен номер</label>
                    <input type="text"
                           id="phoneNumber"
                           name="phoneNumber"
                           class="form-control"
                           th:field="*{phoneNumber}"
                           th:errorclass="is-invalid"
                           placeholder="088XXXXXXX">
                    <p class="invalid-feedback errors alert alert-danger">
                        Мобилния номер трябва да се състои от 10 цифри.
                    </p>
                </div>
                <div class="form-field">
                    <label th:for="sourceTypes">Източник данни</label>
                    <small class="form-text text-muted" style="font-size: 0.8rem; font-weight: normal;">
                        (Задръж <b>Ctrl</b> и направи няколко селекта)
                    </small>
                    <select class="form-control"
                            id="sourceTypes"
                            name="sourceTypes"
                            th:field="*{sourceTypes}"
                            th:errorclass="is-invalid"
                            multiple> <!-- Позволява избор на няколко стойности -->
                        <option th:each="source : ${allSourceType}"
                                th:value="${source}"
                                th:text="${source}"
                                th:selected="${clientDTO.sourceTypes.contains(source)}">
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери източник.
                    </p>
                </div>
                <div class="form-field">
                    <label for="loyaltyLevel">Ниво лоялност</label>
                    <select class="form-control"
                            id="loyaltyLevel"
                            name="loyaltyLevel"
                            th:field="*{loyaltyLevel}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="level: ${allLoyaltyLevel}"
                                th:value="${level}"
                                th:text="${level}">Ниво лоялност
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери ниво на лоялност.
                    </p>
                </div>
                <div class="form-field">
                    <label for="nationality">Националност</label>
                    <select class="form-control"
                            id="nationality"
                            name="nationality"
                            th:field="*{nationality}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="nat: ${allNationality}"
                                th:value="${nat}"
                                th:text="${nat}">Националност
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери националност.
                    </p>
                </div>
                <div class="form-field">
                    <label for="ratingFood">Оценка храна</label>
                    <select class="form-control"
                            id="ratingFood"
                            name="ratingFood"
                            th:field="*{ratingFood}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="rating: ${allRating}"
                                th:value="${rating}"
                                th:text="${rating}">Оценка храна
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери оценка.
                    </p>
                </div>
                <div class="form-field">
                    <label for="ratingQualityPrice">Оценка качество-цена</label>
                    <select class="form-control"
                            id="ratingQualityPrice"
                            name="ratingQualityPrice"
                            th:field="*{ratingQualityPrice}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="rating: ${allRating}"
                                th:value="${rating}"
                                th:text="${rating}">Оценка качество-цена
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери оценка.
                    </p>
                </div>
                <div class="form-field">
                    <label for="ratingPoliteness">Оценка учтивост</label>
                    <select class="form-control"
                            id="ratingPoliteness"
                            name="ratingPoliteness"
                            th:field="*{ratingPoliteness}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="rating: ${allRating}"
                                th:value="${rating}"
                                th:text="${rating}">Оценка учтивост
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери оценка.
                    </p>
                </div>
                <div class="form-field">
                    <label for="ratingCleanTidy">Оценка чистота</label>
                    <select class="form-control"
                            id="ratingCleanTidy"
                            name="ratingCleanTidy"
                            th:field="*{ratingCleanTidy}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="rating: ${allRating}"
                                th:value="${rating}"
                                th:text="${rating}">Оценка чистота
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери оценка.
                    </p>
                </div>
                <div class="form-field">
                    <label for="comment">Коментар</label>
                    <input type="text"
                           id="comment"
                           name="comment"
                           class="form-control"
                           th:field="*{comment}">
                </div>
                <div class="form-field">
                    <label for="accommodationDate" class="form-label">Дата настаняване</label>
                    <input type="date" class="form-control" id="accommodationDate" name="accommodationDate" th:value="${addClientDTO.accommodationDate}">
                </div>
                <button type="submit" class="btn btn-success">Добави</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>