<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Нов партньор</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <h1>Партньор</h1>

    <table id="category-table">
        <thead>
        <tr>
            <th style="width: 10%;">Име</th>
            <th style="width: 10%;">Адрес</th>
            <th style="width: 10%;">Емейл адрес</th>
            <th style="width: 10%;">Телефонен номер</th>
            <th style="width: 10%;">Локация</th>
            <th style="width: 10%;">Лице за контакт</th>
            <th style="width: 10%;">Управител</th>
            <th style="width: 10%;">Бранш</th>
            <th style="width: 10%;">Дата на първо обаждане</th>
            <th style="width: 10%;">Дата на изпратен имейл</th>
            <th style="width: 10%;">Дата на изпратено писмо</th>
            <th style="width: 10%;">Дата на второ обаждане</th>
            <th style="width: 10%;">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${companyDTO.name}">Име</td>
            <td th:text="${companyDTO.address}">Адрес</td>
            <td th:text="${companyDTO.email}">Имейл адрес</td>
            <td th:text="${companyDTO.phoneNumber}">Телефонен номер</td>
            <td th:text="${companyDTO.locationType}">Локация</td>
            <td>
                <ul>
                    <li th:each="contact : ${companyDTO.getContactPerson()}"
                        th:text="${contact}">Лице за контакт
                    </li>
                </ul>
            </td>
            <td th:if="${companyDTO.companyManager != null}"
                th:text="${companyDTO.companyManager}">Управител
            </td>
            <td th:if="${companyDTO.companyManager == null}">-</td>
            <td>
                <ul>
                    <li th:each="industry : ${companyDTO.industries}"
                        th:text="${industry}">Бранш
                    </li>
                </ul>
            </td>
            <td th:text="${companyDTO.firstCall}">Дата на първо обаждане</td>
            <td th:text="${companyDTO.sentEmail}">Дата на изпратен имейл</td>
            <td th:text="${companyDTO.letterSent}">Дата на изпратено писмо</td>
            <td th:text="${companyDTO.secondCall}">Дата на второ обаждане</td>
            <td>
                <div class="action-buttons">
                    <form th:method="POST"
                          th:action="@{/company-details/{id}(id=${companyDTO.id})}">
                        <button type="submit" class="edit-button">Промяна</button>
                    </form>
                    <form th:method="POST"
                          th:action="@{/delete-company/{id}(id=${companyDTO.id})}"
                          sec:authorize="hasRole('Admin')">
                        <button type="submit" class="delete-button">Премахване</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="buttons">
        <form th:method="POST"
              th:if="${companyDTO.companyManager == null}"
              th:action="@{/add-company-manager-with-com-id/{id}(id=${companyDTO.id})}"
              style="display: inline;">
            <button type="submit" class="register">Добави управител</button>
        </form>
        <form th:method="POST"
              th:action="@{/add-contact-person-with-com-id/{id}(id=${companyDTO.id})}"
              style="display: inline;">
            <button type="submit" class="login">Добави контактно лице</button>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
