<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Регистрация</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header>
    <a th:href="@{/}">
        <img src="/images/logo.png" alt="CASA ART Logo">
    </a>
</header>
<main>
    <h1>Регистрация</h1>
    <div class="login-form">
        <form th:action="@{/registration}"
              th:object="${addUserDTO}"
              th:method="POST">
            <div class="form-group">
                <label for="firstName">Първо име</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="middleName">Презиме</label>
                <input type="text" id="middleName" name="middleName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="company">Фирма</label>
                <input type="text" id="company" name="company" required>
            </div>
            <div class="form-group">
                <label for="email">Имейл</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Имейл</label>
                <input type="number" id="phoneNumber" name="phoneNumber" required>
            </div>
            <div class="form-group">
                <label for="sourceType">Източник данни</label>
                <input type="text" id="sourceType" name="sourceType" required>
                <select class="form-control"
                        id="sourceTypeOption"
                        name="sourceTypeOption"
                        th:field="*{education}"
                        th:errorclass="is-invalid">
                    <option value="">-- Избери източник данни --</option>
                    <option th:each="education: ${educations}"
                            th:value="${education}"
                            th:text="${education}">Източник данни</option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Избери източник.
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Регистрирай</button>
        </form>
    </div>
   </main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>