<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Нов партньор</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <div class="container-form">
        <h1>Нов партньор</h1>
        <div class="add-form">
            <form th:action="@{/add-company}"
                  th:object="${addCompanyDTO}"
                  th:method="POST">
                <div class="form-group">
                    <label th:for="name">Име</label>
                    <input type="text"
                           id="name"
                           name="name"
                           th:field="*{name}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Името трябва да се състои от 2 до 50 букви.
                    </p>
                    <p class="errors alert alert-danger" th:if="${isExistCompany}">
                        Съществува партньор с това име.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="companyType">Тип компания</label>
                    <select class="form-control"
                            id="companyType"
                            name="companyType"
                            th:field="*{companyType}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="type: ${allCompanyTypes}"
                                th:value="${type}"
                                th:text="${type}">Тип компания
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери тип взаймоотношения.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="partnerTypes">Тип партньор</label>
                    <small class="form-text text-muted" style="font-size: 0.8rem; font-weight: normal;">
                        (Задръж <b>Ctrl</b> и направи няколко селекта)
                    </small>
                    <select class="form-control"
                            id="partnerTypes"
                            name="partnerTypes"
                            th:field="*{partnerTypes}"
                            th:errorclass="is-invalid"
                            multiple>
                        <option th:each="type : ${allPartnerTypes}"
                                th:value="${type}"
                                th:text="${type}">
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери поне един тип.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="units">Звено</label>
                    <small class="form-text text-muted" style="font-size: 0.8rem; font-weight: normal;">
                        (Задръж <b>Ctrl</b> и направи няколко селекта)
                    </small>
                    <select class="form-control"
                            id="units"
                            name="units"
                            th:field="*{units}"
                            th:errorclass="is-invalid"
                            multiple>
                        <option th:each="unit : ${allUnits}"
                                th:value="${unit}"
                                th:text="${unit}">
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери поне едно звено.
                    </p>
                </div>

                <div class="form-group">
                    <label th:for="industries">Вид дейност</label>
                    <small class="form-text text-muted" style="font-size: 0.8rem; font-weight: normal;">
                        (Задръж <b>Ctrl</b> и направи няколко селекта)
                    </small>
                    <select class="form-control"
                            id="industries"
                            name="industries"
                            th:field="*{industries}"
                            th:errorclass="is-invalid"
                            multiple>
                        <option th:each="industry : ${allIndustries}"
                                th:value="${industry}"
                                th:text="${industry}"
                                th:selected="${companyDTO.industries.contains(industry)}">
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери поне една дейност.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="address">Адрес</label>
                    <input type="address"
                           id="address"
                           name="address"
                           th:field="*{address}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Въведете адрес.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="phoneNumber">Телефон</label>
                    <input type="phoneNumber"
                           id="phoneNumber"
                           name="phoneNumber"
                           th:field="*{phoneNumber}"
                           th:errorclass="is-invalid"
                           placeholder="088XXXXXXX">
                    <p class="invalid-feedback errors alert alert-danger">
                        Въведи телефонен номер.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="email">Имейл адрес</label>
                    <input type="email"
                           id="email"
                           name="email"
                           th:field="*{email}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Въведи имейл адрес.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="locationType">Обхват на дейност</label>
                    <select class="form-control"
                            id="locationType"
                            name="locationType"
                            th:field="*{locationType}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="located: ${allLocations}"
                                th:value="${located}"
                                th:text="${located}">Регион
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери регион.
                    </p>
                </div>
                <button type="submit" class="btn btn-success">Добави</button>
            </form>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>