<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Всички управители</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>

<div class="search-container">
    <form th:method="POST" th:action="@{/sort-company-managers}" style="display: inline;">
        <input type="text" name="type" placeholder="Търси по име" class="source-type-select"
               style="width: 300px;">
        <button type="submit" class="sort-button">Търси</button>
    </form>
</div>
<div class="search-container">
    <form th:action="@{/export-company-managers}" method="post">
        <input type="hidden" th:each="manager : ${allCompanyManagers}"
               th:name="companyManagerIds"
               th:value="${manager.id}" />
        <button type="submit" class="view-button">Export &#x2B06;</button>
    </form>
</div>
<main>
    <h1>
        <span>Управители:</span>
        <span class="count" th:text="${allCompanyManagers.size()}"></span>
    </h1>

    <div class="buttons">
        <form th:method="POST" th:action="@{/sort-company-managers}" style="display: inline;">
            <select name="type" class="source-type-select">
                <option value="allCompanyManagers">Всички управители</option>
                <option value="allCompanyManagersByName">Име</option>
                <option value="allCompanyManagersByFirstCall">Първо обаждане</option>
                <option value="allCompanyManagersBySendEmail">Изпратен имейл</option>
                <option value="allCompanyManagersBySendLetter">Изпратено писмо</option>
                <option value="allCompanyManagersBySecondCall">Второ обаждане</option>
                <option value="allCompanyManagersByPresence">Присъствие</option>
            </select>
            <button type="submit" class="sort-button">Сортирай</button>
        </form>
    </div>
    <div class="table-wrapper">
        <table id="category-table">
            <thead>
            <tr>
                <th>Име</th>
                <th>Презиме</th>
                <th>Фамилия</th>
                <th>Емейл адрес</th>
                <th>Телефонен номер</th>
                <th>Компания</th>
                <th>Първо обаждане</th>
                <th>Изпратен имейл</th>
                <th>Изпратено писмо</th>
                <th>Второ обаждане</th>
                <th>Присъствие</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="manager : ${allCompanyManagers}">
                <td th:text="${manager.firstName}">Име</td>
                <td th:text="${manager.middleName}">Презиме</td>
                <td th:text="${manager.lastName}">Фамилия</td>
                <td th:text="${manager.email}">Имейл адрес</td>
                <td th:text="${manager.phoneNumber}">Телефонен номер</td>
                <td th:text="${manager.company}">Компания</td>
                <td>
                    <ul>
                        <li>
                            <span th:text="${manager.firstCall}"></span>
                        </li>
                        <li>
                            <form th:method="POST" th:action="@{/first-call-manager/{id}(id=${manager.id})}">
                                <button type="submit" class="reg-button">Регистрирай</button>
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <span th:text="${manager.sendEmail}"></span>
                        </li>
                        <li>
                            <form th:method="POST" th:action="@{/send-email-manager/{id}(id=${manager.id})}">
                                <button type="submit" class="reg-button">Регистрирай</button>
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <span th:text="${manager.sendLetter}"></span>
                        </li>
                        <li>
                            <form th:method="POST" th:action="@{/send-letter-manager/{id}(id=${manager.id})}">
                                <button type="submit" class="reg-button">Регистрирай</button>
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <span th:text="${manager.secondCall}"></span>
                        </li>
                        <li>
                            <form th:method="POST" th:action="@{/second-call-manager/{id}(id=${manager.id})}">
                                <button type="submit" class="reg-button">Регистрирай</button>
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <span th:text="${manager.presence}"></span>
                        </li>
                        <li>
                            <form th:method="POST" th:action="@{/presence-manager/{id}(id=${manager.id})}">
                                <button type="submit" class="reg-button">Регистрирай</button>
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="action-button">
                        <form th:method="POST"
                              th:action="@{/company-manager-details/{id}(id=${manager.id})}">
                            <button type="submit" class="edit-button">Промяна</button>
                        </form>
                        <form th:method="POST"
                              th:action="@{/delete-company-manager/{id}(id=${manager.id})}"
                              sec:authorize="hasRole('Admin')">
                            <button type="submit" class="delete-button">Премахване</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>