<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Промяна категория</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>

    <div class="container-form">
        <h1>Промяна категория</h1>
        <div class="login-form">
            <form th:action="@{/category-details}"
                  th:object="${categoryDTO}"
                  th:method="POST">

                <!--Sends category id with a POST request-->
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="name">Име</label>
                    <input type="text"
                           id="name"
                           name="name"
                           th:field="*{name}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Името трябва да се състои от 2 до 30 букви.
                    </p>
                    <p class="errors alert alert-danger" th:if="${isExistCategory}">
                        Съществува категория с това име.
                    </p>
                </div>
                <div class="form-group">
                    <label for="code">Код</label>
                    <input type="text"
                           id="code"
                           name="code"
                           th:field="*{code}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Кода трябва да се състои от 2 до 4 букви.
                    </p>
                    <p class="errors alert alert-danger" th:if="${isExistCategoryCode}">
                        Съществува категория с този код.
                    </p>
                </div>
                <!-- Таблица с типове -->
                <div class="form-group">
                    <label>Тип</label>
                    <table>
                        <thead>
                        <tr>
                            <th>Тип</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody id="types">
                        <tr th:each="type : ${categoryDTO.getTypes()}">
                            <td th:text="${type.name}"></td>
                            <td class="action-buttons">
                                <form th:method="POST" th:action="@{/type-details/{id}(id=${type.id})}">
                                    <input class="edit-button" type="submit" th:value="Промяна"/>
                                </form>
                                <form th:method="POST" th:action="@{/delete-product/{id}(id=${type.id})}" sec:authorize="hasRole('Admin')">
                                    <input class="delete-button" type="submit" th:value="Премахване"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-success">Запази</button>
            </form>
        </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>