<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Клиенти</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<div class="search-container">
    <form th:method="POST" th:action="@{/sort-clients}" style="display: inline;">
        <input type="text" name="type" placeholder="Търси клиент" class="source-type-select"
               style="width: 300px;">
        <button type="submit" class="sort-button">Търси</button>
    </form>
</div>
<div class="search-container">
    <form th:action="@{/export-clients}" method="post">
        <input type="hidden" th:each="client : ${allClients}"
               th:name="clientIds"
               th:value="${client.id}" />
        <button type="submit" class="view-button">Export &#x2B06;</button>
    </form>

    <form th:action="@{/import-clients}" method="post" enctype="multipart/form-data">
        <!-- Скрито поле за файл -->
        <input type="file" id="fileInput" name="file" accept=".xlsx" required style="display: none;" />

        <!-- Персонализиран бутон -->
        <button type="button" class="reg-button" onclick="document.getElementById('fileInput').click();">
            Избери файл
        </button>

        <!-- Показване на избраното име на файла -->
        <span id="fileName" style="font-style: italic; color: #555;">Няма избран файл</span>

        <!-- Бутон за изпращане -->
        <button type="submit" class="view-button">Импортирай &#x2B07;</button>
    </form>
</div>

<main>
    <h1>
        <span>Списък с клиенти:</span>
        <span class="count" th:text="${allClients.size()}"></span>
    </h1>
    <div class="buttons">
        <a th:href="@{/add-client}" class="input-button">Добави</a>
    </div>
    <div class="buttons">
        <form th:method="POST" th:action="@{/sort-clients}" style="display: inline;">
            <!-- Основен селект -->
            <select name="type" class="source-type-select" id="mainSelect" onchange="toggleSelects()">
                <option value="allClients">Всички клиенти</option>
                <option value="allClientsByName">Име</option>
                <!--                <option value="allClientsByFirstEmail">Дата на първи имейл</option>-->
                <!--                <option value="allClientsByFirstCall">Дата на първо обаждане</option>-->
                <!--                <option value="allClientsBySecondEmail">Дата на втори имейл</option>-->
                <!--                <option value="allClientsBySecondCall">Добавен на второ обаждане</option>-->
                <option value="sourceType">Източник</option>
                <option value="orderYear">Година на поръчка</option>
                <option value="loyaltyLevel">Ниво лоялност</option>
                <option value="nationality">Националност</option>
                <option value="rating">Оценка</option>
            </select>

            <!-- Под-селекция за източниците (скрита по подразбиране) -->
            <select name="sourceType" class="source-type-select" id="industrySelect" style="display: none;">
                <option value="">изберете източник</option>
                <option th:each="sourceType : ${allSourceType}"
                        th:value="${sourceType}"
                        th:text="${sourceType}"></option>
            </select>

            <!-- Под-селекция за ниво на лоялност (скрита по подразбиране) -->
            <select name="loyaltyLevel" class="source-type-select" id="loyaltySelect" style="display: none;">
                <option value="">изберете ниво лоялност</option>
                <option th:each="loyaltyLevel : ${allLoyaltyLevel}"
                        th:value="${loyaltyLevel}"
                        th:text="${loyaltyLevel}"></option>
            </select>

            <!-- Под-селекция за националност (скрита по подразбиране) -->
            <select name="nationality" class="source-type-select" id="nationalitySelect" style="display: none;">
                <option value="">изберете националност</option>
                <option th:each="nat : ${allNationality}"
                        th:value="${nat}"
                        th:text="${nat}"></option>
            </select>

            <!-- Селект за тип на рейтинга (скрит по подразбиране) -->
            <select name="ratingType" class="source-type-select" id="ratingTypeSelect" style="display: none;">
                <option value="">изберете тип оценка</option>
                <option value="ratingFood">Храна</option>
                <option value="ratingQualityPrice">Качество/Цена</option>
                <option value="ratingPoliteness">Учтивост</option>
                <option value="ratingCleanTidy">Чистота</option>
            </select>

            <!-- Под-селекция за рейтинг (скрита по подразбиране) -->
            <select name="rating" class="source-type-select" id="ratingSelect" style="display: none;">
                <option value="">оценка</option>
                <option th:each="rating : ${allRating}"
                        th:value="${rating}"
                        th:text="${rating}"></option>
            </select>

            <button type="submit" class="sort-button">Сортирай</button>
        </form>
    </div>

    <script>
        function toggleSelects() {
            var mainSelect = document.getElementById("mainSelect");
            var industrySelect = document.getElementById("industrySelect");
            var loyaltySelect = document.getElementById("loyaltySelect");
            var nationalitySelect = document.getElementById("nationalitySelect");
            var ratingTypeSelect = document.getElementById("ratingTypeSelect");
            var ratingSelect = document.getElementById("ratingSelect");

            // Скриваме всички под-селекти
            industrySelect.style.display = "none";
            loyaltySelect.style.display = "none";
            nationalitySelect.style.display = "none";
            ratingTypeSelect.style.display = "none";
            ratingSelect.style.display = "none";

            // Показваме под-селект на база на основния избор
            switch (mainSelect.value) {
                case "sourceType":
                    industrySelect.style.display = "inline-block";
                    break;
                case "loyaltyLevel":
                    loyaltySelect.style.display = "inline-block";
                    break;
                case "nationality":
                    nationalitySelect.style.display = "inline-block";
                    break;
                case "rating":
                    ratingTypeSelect.style.display = "inline-block";
                    ratingSelect.style.display = "inline-block";
                    break;
                default:
                    break;
            }
        }

        // Свързване на функцията със селекта
        document.getElementById("mainSelect").addEventListener("change", toggleSelects);

    </script>

    <div class="table-wrapper">
        <table id="clients-table">
            <thead>
            <tr>
                <th>Име</th>
                <th>Фамилия</th>
                <th>Имейл</th>
                <th>Телефон</th>
                <th>Тип източник</th>
                <th>Ниво лоялност</th>
                <th>Националност</th>
                <th>Поръчки</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client :${allClients}">
                <td th:text="${client.firstName}">Име</td>
                <!--            <td th:text="${client.middleName}">Презиме</td>-->
                <td th:text="${client.lastName}">Фамилия</td>
                <td th:text="${client.email}">Емейл</td>
                <td th:text="${client.phoneNumber}">Телефонен номер</td>
                <td>
                    <ul>
                        <li th:each="source : ${client.sourceTypes}"
                            th:text="${source}">Източник
                        </li>
                    </ul>
                </td>
                <td th:text="${client.loyaltyLevel}">Ниво лоялност</td>
                <td th:text="${client.nationality}">Националност</td>
                <td>
                    <ul th:if="${client.orders != null and !client.orders.isEmpty()}">
                        <li th:each="order : ${client.getOrders()}">
                            <span th:text="${order.number}"></span>
                        </li>
                        <li>
                            <form th:method="POST" th:action="@{/current-orders/{id}(id=${client.id})}">
                                <button type="submit" class="view-button">Виж</button>
                            </form>
                        </li>
                    </ul>
                    <div th:unless="${client.orders != null and !client.orders.isEmpty()}">
                        <form th:method="POST" th:action="@{/add-order-with-client-id/{id}(id=${client.id})}"
                              style="display: inline;">
                            <button type="submit" class="reg-button">Добави</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="action-button">
                        <form th:method="POST" th:action="@{/client-details/{id}(id=${client.id})}">
                            <input class="edit-button" type="submit" th:value="Промяна"/>
                        </form>
                        <form th:method="POST" th:action="@{/delete-client/{id}(id=${client.id})}"
                              sec:authorize="hasRole('Admin')">
                            <input class="delete-button" type="submit" th:value="Премахване"/>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        const fileName = this.files.length > 0 ? this.files[0].name : 'Няма избран файл';
        document.getElementById('fileName').textContent = fileName;
    });
</script>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>