<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Клиенти</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <h1>Списък с клиенти</h1>
    <table id="clients-table">
        <thead>
        <tr>
            <th>Име</th>
            <th>Презиме</th>
            <th>Фамилия</th>
            <th>Фирма</th>
            <th>Имейл</th>
            <th>Телефон</th>
            <th>Тип източник</th>
            <th>Дата на създаване</th>
            <th>Дата на промяна</th>
            <th>Добавен от</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client :${allClients}">
            <td th:text="${client.firstName}">Иван</td>
            <td th:text="${client.middleName}">Георгиев</td>
            <td th:text="${client.lastName}">Петров</td>
            <td th:text="${client.companyName}">CASA ART</td>
            <td th:text="${client.email}">ivan.petrov@example.com</td>
            <td th:text="${client.phoneNumber}">0888123456</td>
            <td th:text="${client.sourceType}">Референция</td>
            <td th:text="${client.creatDate}">2024-11-01</td>
            <td th:text="${client.modifyDate}">2024-11-15</td>
            <td th:text="${client.addedFrom}">Админ</td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>