<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Партньори</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>

<main>
    <h1>
        <span>Списък с партньори:</span>
        <span class="count" th:text="${allCompanies.size()}"></span>
    </h1>
    <div class="buttons">
        <a th:href="@{/add-company}" class="register">Добави</a>
    </div>
    <div class="buttons">
        <form th:method="POST" th:action="@{/sort-compnies}" style="display: inline;">
            <select name="companyType" class="source-type-select">
                <option value="allCompanies">-- подреди по --</option>
                <option value="allCompanies">Всички партьори</option>
                <option value="name">Име</option>
                <option value="industryType">Бранш</option>
            </select>
            <button type="submit" class="sort-button">Сортирай</button>
        </form>
    </div>
    <table id="category-table">
        <thead>
        <tr>
            <th style="width: 10%;">Име</th>
            <th style="width: 10%;">Адрес</th>
            <th style="width: 10%;">Емейл адрес</th>
            <th style="width: 10%;">Телефонен номер</th>
            <th style="width: 10%;">Локация</th>
            <th style="width: 10%;">Лице за контакт</th>
            <th style="width: 10%;">Управител</th>
            <th style="width: 10%;">Бранш</th>
            <th style="width: 10%;">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company :${allCompanies}">
            <td th:text="${company.name}">Име</td>
            <td th:text="${company.address}">Адрес</td>
            <td th:text="${company.email}">Имейл адрес</td>
            <td th:text="${company.phoneNumber}">Телефонен номер</td>
            <td th:text="${company.locationType}">Локация</td>
            <td>
                <ul th:if="${company.contactPerson != null and !company.contactPerson.isEmpty()}">
                    <li th:each="contact : ${company.getContactPerson()}">
                        <span th:text="${contact}"></span>
                    </li>
                    <li>
                        <form th:method="POST" th:action="@{/current-contact-persons/{id}(id=${company.id})}">
                            <button type="submit" class="view-button">Виж</button>
                        </form>
                    </li>
                </ul>
                <div th:unless="${company.contactPerson != null and !company.contactPerson.isEmpty()}">
                    <form th:method="POST" th:action="@{/add-contact-person-with-com-id/{id}(id=${company.id})}"
                          style="display: inline;">
                        <button type="submit" class="register">Добави</button>
                    </form>
                </div>
            </td>
            <td>
                <ul th:if="${company.companyManager != null}">
                    <li>
                        <span th:text="${company.companyManager}"></span>
                    </li>
                    <li>
                        <form th:method="GET" th:action="@{/current-company-manager/{id}(id=${company.id})}">
                            <button type="submit" class="view-button">Виж</button>
                        </form>
                    </li>
                </ul>
                <div th:unless="${company.companyManager != null}">
                    <form th:method="POST" th:action="@{/add-company-manager-with-com-id/{id}(id=${company.id})}"
                          style="display: inline;">
                        <button type="submit" class="register">Добави</button>
                    </form>
                </div>
            </td>
            <td>
                <ul>
                    <li th:each="industry : ${company.industries}"
                        th:text="${industry}">Бранш
                    </li>
                </ul>
            </td>
            <td>
                <div class="action-buttons">
                    <form th:method="GET" th:action="@{/company-details/{id}(id=${company.id})}">
                        <input class="edit-button" type="submit" th:value="Промяна"/>
                    </form>
                    <form th:method="POST" th:action="@{/delete-company/{id}(id=${company.id})}"
                          sec:authorize="hasRole('Admin')">
                        <input class="delete-button" type="submit" th:value="Премахване"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>