<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Контактни лица</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>

<main>
    <h1>Контактни лица</h1>
    <div class="buttons">
        <form th:method="POST"
              th:action="@{/add-contact-person-with-com-id/{id}(id=${companyDTO.id})}">
            <button type="submit" class="register">Добави</button>
        </form>
    </div>
    <table id="category-table">
        <thead>
        <tr>
            <th style="width: 10%;">Име</th>
            <th style="width: 10%;">Презиме</th>
            <th style="width: 10%;">Фамилия</th>
            <th style="width: 10%;">Емейл адрес</th>
            <th style="width: 10%;">Телефонен номер</th>
            <th style="width: 10%;">Компания</th>
            <th style="width: 10%;">Дата на първо обаждане</th>
            <th style="width: 10%;">Дата на изпратен имейл</th>
            <th style="width: 10%;">Дата на изпратено писмо</th>
            <th style="width: 10%;">Дата на второ обаждане</th>
            <th style="width: 10%;">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person :${contactPersons}">
            <td th:text="${person.firstName}">Име</td>
            <td th:text="${person.middleName}">Презиме</td>
            <td th:text="${person.lastName}">Фамилия</td>
            <td th:text="${person.email}">Имейл адрес</td>
            <td th:text="${person.phoneNumber}">Телефонен номер</td>
            <td th:text="${person.company}">Компания</td>
            <td th:text="${person.firstCall}">Дата на първо обаждане</td>
            <td th:text="${person.sentEmail}">Дата на изпратен имейл</td>
            <td th:text="${person.letterSent}">Дата на изпратено писмо</td>
            <td th:text="${person.secondCall}">Дата на второ обаждане</td>
            <td>
                <div class="action-buttons">
                    <form th:method="POST"
                          th:action="@{/contact-person-details/{id}(id=${person.id})}">
                        <button type="submit" class="edit-button">Промяна</button>
                    </form>
                    <form th:method="POST"
                          th:action="@{/delete-company/{id}(id=${companyDTO.id})}"
                          sec:authorize="hasRole('Admin')">
                        <button type="submit" class="delete-button">Премахване</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>