<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Вход</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header>
    <img src="/images/logo.png" alt="CASA ART Logo">
</header>
<main>
    <h1>Вход в системата</h1>
    <p class="description">Моля, въведете вашите данни за достъп, за да влезете в системата.</p>
    <form class="login-form"
          th:action="@{/login}"
          th:object="${loginUserDTO}"
          th:method="POST" >
        <div class="bg-danger text-center" th:if="${showErrorMessage}">
            <p class="d-block">Грешно потребителско име или парола</p>
        </div>
        <div class="form-group">
            <label for="username">Потребителско име:</label>
            <input type="text"
                   th:field="*{username}"
                   id="username"
                   name="username"
                   placeholder="Въведете потребителско име"
                   aria-describedby="usernameHelpInline">
        </div>
        <div class="form-group">
            <label for="password">Парола:</label>
            <input type="password"
                   th:field="*{password}"
                   id="password"
                   name="password"
                   placeholder="Въведете парола"
                   aria-describedby="usernameHelpInline">
        </div>
        <div class="buttons">
            <button type="submit" class="login">Вход</button>
            <a href="/register" class="register">Регистрация</a>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>