<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/casaart.ico}">
    <title>CASA ART - Вход</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <h1>Вход в системата</h1>
    <p class="description">Моля, въведете вашите данни за достъп, за да влезете в системата.</p>
    <form class="input-form"
          th:action="@{/login}"
          th:object="${loginUserDTO}"
          th:method="POST" >
        <div class="bg-danger text-center" th:if="${showErrorMessage}">
            <p class="d-block">Грешно потребителско име или парола</p>
        </div>
        <div class="form-group">
            <label for="username">Потребителско име:</label>
            <input type="text"
                   th:field="*{username}"
                   id="username"
                   name="username"
                   placeholder="Въведете потребителско име"
                   aria-describedby="usernameHelpInline">
        </div>
        <div class="form-group">
            <label for="password">Парола:</label>
            <input type="password"
                   th:field="*{password}"
                   id="password"
                   name="password"
                   placeholder="Въведете парола"
                   aria-describedby="usernameHelpInline">
        </div>
        <div class="buttons">
            <button type="submit" class="login-button">Вход</button>
            <a th:href="@{/registration}" class="input-button">Регистрация</a>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>