<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Продукти</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>

<main>
    <h1>Списък с продукти</h1>
    <div class="buttons">
        <a th:href="@{/add-product}" class="register">Добави</a>
    </div>
    <table id="category-table">
        <thead>
        <tr>
            <th style="width: 10%;">Име</th>
            <th style="width: 10%;">Продуктов код Casa Art</th>
            <th style="width: 10%;">Цена доставчик</th>
            <th style="width: 10%;">Цена клиент</th>
            <th style="width: 10%;">Картинка</th>
            <th style="width: 10%;">Продуктов код доставчик</th>
            <th style="width: 10%;">Доставчик</th>
            <th style="width: 10%;">Размери</th>
            <th style="width: 10%;">Категория</th>
            <th style="width: 10%;">Тип</th>
            <th style="width: 10%;">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product :${allProducts}">
            <td th:text="${product.name}">Име</td>
            <td th:text="${product.productCode}">Продуктав код Casa Art</td>
            <td th:numbers="${product.providerPrice}">Цена доставчик</td>
            <td th:numbers="${product.clientPrice}">Цена клиент</td>
            <td>
                <img th:src="@{${product.imagePath}}" alt="Image Preview" style="max-width: 200px;">
            </td>
            <td th:text="${product.providerProductCode}">Продуктав код доставчик</td>
            <td th:text="${product.provider}">Доставчик</td>
            <td th:text="${product.dimensions}">Размери</td>
            <td th:text="${product.category}">Категория</td>
            <td th:text="${product.type}">Тип</td>
            <td class="action-buttons">
                <form th:method="POST" th:action="@{/client-details/{id}(id=${product.id})}">
                    <input class="edit-button" type="submit" th:value="Промяна"/>
                </form>
                <form th:method="POST" th:action="@{/delete-client/{id}(id=${product.id})}" sec:authorize="hasRole('Admin')">
                    <input class="delete-button" type="submit" th:value="Премахване"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>