<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Промяна продукт</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <h1>Промяна продукт</h1>
    <div class="login-form">
        <form th:action="@{/product-details}"
              th:object="${productDTO}"
              th:method="POST"
              enctype="multipart/form-data">

            <!--Sends product id with a POST request-->
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label for="name">Име</label>
                <input type="text" th:placeholder="${productDTO.name}"
                       id="name"
                       name="name"
                       th:field="*{name}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Името трябва да се състои от 2 до 50 букви.
                </p>
                <p class="errors alert alert-danger" th:if="${isExistName}">
                    Съществува продукт с това име.
                </p>
            </div>
            <div class="form-group">
                <label for="providerPrice">Цена доставчик</label>
                <input type="number" th:placeholder="${productDTO.providerPrice}"
                       id="providerPrice"
                       name="providerPrice"
                       th:field="*{providerPrice}"
                       step="any"
                       min="0"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Въведи цена.
                </p>
            </div>
            <div class="form-group">
                <label for="clientPrice">Цена клиент</label>
                <input type="number" th:placeholder="${productDTO.clientPrice}"
                       id="clientPrice"
                       name="clientPrice"
                       th:field="*{clientPrice}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Въведи цена.
                </p>
            </div>
            <div>
                <label for="image">Изображение:</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>

            <!-- Скрито поле за imagePath -->
            <input type="hidden" name="imagePath" th:field="*{imagePath}"/>

            <div th:if="${productDTO.imagePath != null}">
                <img th:src="@{${productDTO.imagePath}}" alt="Image Preview" style="max-width: 200px;">
            </div>
            <div class="form-group">
                <label for="productCode">Код</label>
                <input type="text" th:placeholder="${productDTO.productCode}"
                       id="productCode"
                       name="code"
                       th:field="*{productCode}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Кода трябва да се състои от 2 до 10 букви.
                </p>
                <p class="errors alert alert-danger" th:if="${isExistCode}">
                    Съществува продукт с този код.
                </p>
            </div>
            <div class="form-group">
                <label for="providerProductCode">Код доставчик</label>
                <input type="text" th:placeholder="${productDTO.providerProductCode}"
                       id="providerProductCode"
                       name="code"
                       th:field="*{providerProductCode}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Кода трябва да се състои от 2 до 10 букви.
                </p>
            </div>
            <div class="form-group">
                <label for="provider">Доставчик</label>
                <select class="form-control" th:placeholder="${productDTO.provider}"
                        id="provider"
                        name="provider"
                        th:field="*{provider}"
                        th:errorclass="is-invalid">
                    <option value="">-- Избери --</option>
                    <option th:each="provider: ${allProviders}"
                            th:value="${provider.name}"
                            th:text="${provider.name}">Доставчик
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Избери доставчик.
                </p>
            </div>
            <div class="form-group">
                <label for="productCode">Размери</label>
                <input type="text" th:placeholder="${productDTO.dimensions}"
                       id="dimensions"
                       name="dimensions"
                       th:field="*{dimensions}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Размера трябва да се състои от 2 до 30 букви на кирилица.
                </p>
            </div>
            <div class="form-group">
                <label for="categories">Категории</label>
                <select class="form-control" th:placeholder="${productDTO.category}"
                        id="categories"
                        name="categories"
                        th:field="*{category}"
                        th:errorclass="is-invalid">
                    <option value="">-- Избери --</option>
                    <option th:each="catogory: ${allCategories}"
                            th:value="${catogory.name}"
                            th:text="${catogory.name}">Категории
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Избери категория.
                </p>
            </div>
            <div class="form-group">
                <label for="type">Тип</label>
                <select class="form-control" th:placeholder="${productDTO.type}"
                        id="type"
                        name="type"
                        th:field="*{type}"
                        th:errorclass="is-invalid">
                    <option value="">-- Избери --</option>
                    <option th:each="type: ${allTypes}"
                            th:value="${type.name}"
                            th:text="${type.name}">Тип
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Избери тип.
                </p>
            </div>

            <!-- Поле за въвеждане на бройки -->
            <div class="form-group">
                <label for="pcs">Добави бройки</label>
                <input type="number" id="pcs"
                       name="pcs"
                       placeholder="Въведи бройка"
                       th:field="*{pcs}">
            </div>
            <button type="submit" class="btn btn-success">Запази</button>
        </form>

        <!-- Таблица със сериините номера -->
        <label>Серийни номера</label>
        <table>
            <thead>
            <tr>
                <th>Сериен номер</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody id="snTableBody">
            <tr th:each="currentSN : ${productDTO.sn}">
                <td th:text="${currentSN.serialNumber}"></td>
                <td>
                    <form th:method="POST"
                          th:action="@{/delete-sn/{id}/{prodId}(id=${currentSN.id}, prodId=${productDTO.id})}">
                        <input class="delete-button" type="submit" th:value="Премахване"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Бутон за принтиране -->
        <button type="button" class="btn btn-primary" onclick="printSerialNumbers()">Принтирай сериините номера</button>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>

<script>
    function printSerialNumbers() {
        // Събиране на серийните номера
        const rows = document.querySelectorAll('#snTableBody tr');
        let content = '<h1>Серийни номера</h1>';
        content += '<table border="1" style="width: 100%; border-collapse: collapse;">';
        content += '<thead><tr><th>Сериен номер</th></tr></thead>';
        content += '<tbody>';

        rows.forEach(row => {
            const serialNumber = row.querySelector('td').innerText;
            content += `<tr><td>${serialNumber}</td></tr>`;
        });

        content += '</tbody></table>';

        // Отваряне на нов прозорец за печат
        const printWindow = window.open('', '_blank', 'width=800,height=600');
        printWindow.document.open();
        printWindow.document.write(`
            <!DOCTYPE html>
            <html>
            <head>
                <title>Принтиране на сериините номера</title>
                <style>
                    body {
                        font-family: Arial,
                        sans-serif;
                        margin: 20px;
                    }
                    h1 {
                        text-align: center;
                    }
                    table {
                        display: inline-block;
                        width: 20%;
                        margin: 0 auto;
                        border-collapse: collapse;
                    }
                    th, td {
                        padding: 10px;
                        text-align: left;
                        border: 1px solid black;
                    }
                </style>
            </head>
            <body>
                ${content}
            </body>
            </html>
        `);
        printWindow.document.close();
        printWindow.focus();
        printWindow.print();
        printWindow.close();
    }
</script>
</body>
</html>