<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Промяна тип</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>

    <div class="container-form">
        <h1>Промяна тип</h1>
        <div class="login-form">
            <form th:action="@{/type-details}"
                  th:object="${typeDTO}"
                  th:method="POST">

                <!--Sends type id with a POST request-->
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="name">Име</label>
                    <input type="text"
                           id="name"
                           name="name"
                           th:field="*{name}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Името трябва да се състои от 2 до 30 букви.
                    </p>
                    <p class="errors alert alert-danger" th:if="${isExistType}">
                        Съществува тип с това име.
                    </p>
                </div>
                <div class="form-group">
                    <label for="code">Код</label>
                    <input type="text"
                           id="code"
                           name="code"
                           th:field="*{code}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Кода трябва да се състои от 2 до 4 букви.
                    </p>
                    <p class="errors alert alert-danger" th:if="${isExistTypeCode}">
                        Съществува тип с този код.
                    </p>
                </div>
                <div class="form-group">
                    <label for="categories">Категории</label>
                    <select class="form-control"
                            id="categories"
                            name="categories"
                            th:field="*{category}"
                            th:errorclass="is-invalid">
                        <option value="">-- Избери --</option>
                        <option th:each="catogory: ${allCategories}"
                                th:value="${catogory.name}"
                                th:text="${catogory.name}">Категории
                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Избери категория.
                    </p>
                </div>
                <button type="submit" class="btn btn-success">Добави</button>
            </form>
            <br>
            <!-- Таблица с продукти -->
            <div class="form-group">
                <table>
                    <thead>
                    <tr>
                        <th>Име</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody id="product">
                    <tr th:each="product : ${typeDTO.getProducts()}">
                        <td th:text="${product.name}"></td>
                        <td>
                            <div class="action-buttons">
                                <form th:method="POST" th:action="@{/product-details/{id}(id=${product.id})}">
                                    <input class="edit-button" type="submit" th:value="Промяна"/>
                                </form>
                                <form th:method="POST" th:action="@{/delete-product/{id}(id=${product.id})}"
                                      sec:authorize="hasRole('Admin')">
                                    <input class="delete-button" type="submit" th:value="Премахване"/>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>