<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASA ART - Промяна потребител</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <h1>Промяна потребител</h1>
    <div class="login-form">
        <form th:action="@{/user-details}"
              th:object="${userDTO}"
              th:method="POST">

            <!--Sends employee id with a POST request-->
            <input type="hidden" th:field="*{userId}"/>

            <div class="form-group">
                <label for="username">Потребителско име</label>
                <input type="text" th:placeholder="${userDTO.username}"
                       id="username"
                       name="username"
                       th:field="*{username}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Потребителското име трябва да се състои от 3 до 15 букви.
                </p>
                <p class="errors alert alert-danger" th:if="${isExistUsername}">
                    Съществува клиент с това потребителско име.
                </p>
            </div>
            <div class="form-group" sec:authorize="hasRole('Admin')">
                <label for="role">Роля</label>
                <select class="form-control"  th:placeholder="${userDTO.role}"
                        id="role"
                        name="role"
                        th:field="*{role}"
                        th:errorclass="is-invalid">
                    <option value="">-- Избери --</option>
                    <option th:each="role: ${roles}"
                            th:value="${role}"
                            th:text="${role.name()}">Роля</option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Избери роля.
                </p>
            </div>
            <div class="form-group">
                <label for="firstName">Име</label>
                <input type="text"  th:placeholder="${userDTO.firstName}"
                       id="firstName"
                       name="firstName"
                       th:field="*{firstName}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Името трябва да се състои от 2 до 15 букви.
                </p>
            </div>
            <div class="form-group">
                <label for="middleName">Презиме</label>
                <input type="text"  th:placeholder="${userDTO.middleName}"
                       id="middleName"
                       name="middleName"
                       th:field="*{middleName}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Презимето трябва да се състои от 2 до 15 букви.
                </p>
            </div>
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text"  th:placeholder="${userDTO.lastName}"
                       id="lastName"
                       name="lastName"
                       th:field="*{lastName}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Фамилята трябва да се състои от 2 до 15 букви.
                </p>
            </div>
            <div class="form-group">
                <label for="sourceType">Източник данни</label>
                <select class="form-control"  th:placeholder="${userDTO.located}"
                        id="sourceType"
                        name="sourceType"
                        th:field="*{located}"
                        th:errorclass="is-invalid">
                    <option value="">-- Избери --</option>
                    <option th:each="located: ${sourceType}"
                            th:value="${located}"
                            th:text="${located}">Източник данни</option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Избери източник.
                </p>
            </div>
            <button type="submit" class="btn btn-success">Запази</button>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>